<div class="responsive-table">


  <table appResponsiveTable>
    <thead>
      <tr>
        <th>
          Header 1
        </th>
        <th>
          Header 2
        </th>
        <th>
          Header 4
        </th>
        <th>
          Header 5
        </th>
        <th>
          Header 6
        </th>
        <th>
          Header 7
        </th>
        <th>

        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          conent 1
        </td>
        <td>
          conent 2
        </td>
        <td>
          conent 3 fhghfhfh dfhksdafl dksfla ls kdlfakl flkdsafllfa
        </td>
        <td>
          conent 5
        </td>
        <td>
          conent 6 conent 3 fhghfhfh dfhksdafl dksfla ls kdlfakl flkdsafllfa
        </td>
        <td>
          conent 7
        </td>
        <td>
          (O)
        </td>
      </tr>
      <tr>
        <td>
          conent 1sfdgsg sdgf sdfg sfdg
        </td>
        <td>
          conent 2
        </td>
        <td>
          conent 3
        </td>
        <td>
          conent 5fgsdfgsdgfsdf gsdfgsdfgsdg
        </td>
        <td>
          conent 6
        </td>
        <td>
          conent 7dfgh dhf
        </td>
        <td>
          (O)
        </td>
      </tr>
      <tr>
        <td>
          conent 1
        </td>
        <td>
          conent 2
        </td>
        <td>
          conent 3
        </td>
        <td>
          conent 5
        </td>
        <td>
          conent 6
        </td>
        <td>
          conent 7
        </td>
        <td>
          (O)
        </td>
      </tr>



    </tbody>
  </table>
</div>