/* You can add global styles to this file, and also import other style files */
.responsive-table .hide {
    display: none;
}

.responsive-table td,th {
    white-space: nowrap;
}

.responsive-table th.overflowhide.show {
    background-color: red;
}

.responsive-table td.overflowhide.show {
    background-color: blue;
}